/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0,0,0,0.85);
}

.modal-content {
  background: #1b0000;
  margin: 10% auto;
  padding: 30px;
  border-radius: 20px;
  width: 90%;
  max-width: 500px;
  text-align: center;
  color: white;
}

.modal-content input {
  width: 90%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 12px;
  border: none;
  background: rgba(0,0,0,0.6);
  color: white;
  font-size: 1rem;
}

.modal-content button {
  background: linear-gradient(135deg, #ff0000, #880000);
  border: none;
  padding: 12px 30px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.modal-content button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px red;
}

.close {
  color: white;
  float: right;
  font-size: 2rem;
  cursor: pointer;
}
